



#container{
  display: flex;
}


.card{
  width: 300px;
  min-height: 300px;
  box-shadow: 2px 2px 5px black;
  padding: 12px;
}

  button{
    background-color: crimson;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin: auto;
  }



/* mobile  */

@media screen and (max-width: 500px) {
  #container{
    display: flex;
    flex-wrap: wrap;
  }
  .card{
    width: 400px;
    min-height: 300px;
    /* border: 2px solid black */
    box-shadow: 2px 2px 5px black;
    padding: 12px;
    margin: auto;
    margin-top: 14px;
  }

  
  button{
    background-color: crimson;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin: auto;
  }

#myimage{
  display: block;
  margin: auto;
  min-width: 350px;
}
h3{
 
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
  
}

/* tab  */
@media screen and (min-width: 500px) and (max-width: 800px) {
  #container{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
  }
  .card{
    min-width: 380px;
    min-height: 350px;
    /* border: 2px solid black */
    box-shadow: 2px 2px 5px black;
    padding: 12px;
    margin: auto;
    margin-top: 14px;
  }

  
  button{
    background-color: crimson;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin: auto;
  }

#myimage{
  display: block;
  margin: auto;
  min-width: 380px;
}
h3{
 
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
  
}

/* taptop  */

@media screen and (min-width: 800px) and (max-width: 1100px) {
  #container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
  }
  .card{
    min-width: 330px;
    min-height: 300px;
    /* border: 2px solid black */
    box-shadow: 2px 2px 5px black;
    padding: 12px;
    margin: auto;
    margin-top: 14px;
  }

  
  button{
    background-color: crimson;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin: auto;
  }

#myimage{
  display: block;
  margin: auto;
  min-width: 300px;
}
h3{
 
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
  
}

