#parent{
  border: 2px solid black;
  height: 100px;
  /* position: relative; */
}


h1{
  position: absolute;
  background-color: aqua;
  border: 2px solid red;
  top: 50px;
}

html{
  border: 2px solid blue;
}